* {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  border:0;
}

body {
  background-color: #000;
  color:#ccc;
  font-family: Arial, sans-serif;
  margin:10px 10px;
  width: 100%;
}

#menu {
  width: 100%;
  margin-bottom: 0.5em;
}


#menulist {
  display: block;
  overflow: auto;
}

#main {
  clear: both;
}

#console {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.menuitem {
  display: block;
  float: left;
  padding: 2px 20px;
  background-color: #aaa;
  color: #000;
  cursor: pointer;
  margin-right: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 4px;
  text-shadow: 1px 1px 0px #ccc;
  font-size: 0.8em;
}

.break {
  clear: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.block {
  display: block;
}

.green {
  color: #8f8;
}

.red {
  color: #f88;
}

.blue {
  color: #88f;
}
